<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install ipython-sql
!pip install ibm_db 
!pip install ibm_db_sa
!pip install sqlalchemy==1.3.9

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (2.1.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.6.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.5.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Collecting ibm_db
  Downloading ibm_db-3.0.4.tar.gz (796 kB)
     |████████████████████████████████| 796 kB 7.6 MB/s
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (setup.py) ... done
  Created wheel for ibm-db: filename=ibm_db-3.0.4-cp37-cp37m-linux_x86_64.whl size=40999836 sha256=8f9080ef58fd1df23b61a23c7d1f4008841fe816c7e66e12bd19d014106e6510
  Stored in directory: /root/.cache/pip/wheels/f4/46/2e/08b8d4903c892964edb8279f98da26d0d2d804054d2858ea46
Successfully built ibm-db
Installing collected packages: ibm-db
Successfully installed ibm-db-3.0.4
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.7.tar.gz (30 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from ibm_db_sa) (1.4.22)
Requirement already satisfied: ibm_db>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (1.1.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (4.6.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.7.3->ibm_db_sa) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.7.3->ibm_db_sa) (3.7.4.3)
Building wheels for collected packages: ibm-db-sa
  Building wheel for ibm-db-sa (setup.py) ... done
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.7-py3-none-any.whl size=29318 sha256=f90fdbe81001de9725fd8997e4062ac183bb8bfcebfde288ce34e19f962d928b
  Stored in directory: /root/.cache/pip/wheels/4a/e9/e7/0ee334a6cb2f09ec45978e05837b66f59494b482ef38c7ae33
Successfully built ibm-db-sa
Installing collected packages: ibm-db-sa
Successfully installed ibm-db-sa-0.3.7
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 7.0 MB/s
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1203565 sha256=f5e698ee4f251dcc03d39706e98c6dc7e1eb2825676969736b52b961b1583cd4
  Stored in directory: /root/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.22
    Uninstalling SQLAlchemy-1.4.22:
      Successfully uninstalled SQLAlchemy-1.4.22
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
import ibm_db
import pandas as pd

In [4]:
dsn_hostname = "fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "byt47810"        # e.g. "abc12345"
dsn_pwd = "eu9obHNRmwAINm1E"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = "32731"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security="SSL"

#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};"
   ).format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] =df['Date'].dt.date

sql = "INSERT INTO BYT47810.FALCON9 VALUES(?,?,?,?,?,?,?,?,?,?)"

#convert it into tuples else the result set will give an error
tuple_of_tuples = tuple([tuple(x) for x in df.values])
stmt = ibm_db.prepare(conn,sql )
ibm_db.execute_many(stmt, tuple_of_tuples)

Connected to database:  bludb as user:  byt47810 on host:  fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

101

In [5]:
import ibm_db_dbi
pconn = ibm_db_dbi.Connection(conn)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [8]:
sql = "SELECT DISTINCT LAUNCH_SITE FROM FALCON9"
df = pd.read_sql(sql, pconn)
df

    LAUNCH_SITE
0   CCAFS LC-40
1  CCAFS SLC-40
2    KSC LC-39A
3   VAFB SLC-4E

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [9]:
sql = "SELECT * FROM FALCON9 WHERE LAUNCH_SITE LIKE '%CCA%'"
df = pd.read_sql(sql, pconn)
df.head()

         DATE TIME__UTC_  ... MISSION_OUTCOME     LANDING__OUTCOME
0  2010-04-06   18:45:00  ...         Success  Failure (parachute)
1  2010-08-12   15:43:00  ...         Success  Failure (parachute)
2  2012-05-22   07:44:00  ...         Success           No attempt
3  2012-08-10   00:35:00  ...         Success           No attempt
4  2013-01-03   15:10:00  ...         Success           No attempt

[5 rows x 10 columns]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
sql = "SELECT SUM(PAYLOAD_MASS__KG_) as payload_sum FROM FALCON9 WHERE CUSTOMER='NASA (CRS)'"
df = pd.read_sql(sql, pconn)
df

   PAYLOAD_SUM
0        45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [11]:
sql = "SELECT AVG(PAYLOAD_MASS__KG_) as payload_avg FROM FALCON9 WHERE BOOSTER_VERSION='F9 v1.1'"
df = pd.read_sql(sql, pconn)
df

   PAYLOAD_AVG
0         2928

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [12]:
sql = "SELECT MIN(DATE) as FIRST_SUCCESS FROM FALCON9 WHERE LANDING__OUTCOME='Success (ground pad)'"
df = pd.read_sql(sql, pconn)
df

  FIRST_SUCCESS
0    2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [13]:
sql = "SELECT BOOSTER_VERSION FROM FALCON9 WHERE LANDING__OUTCOME='Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000 "
df = pd.read_sql(sql, pconn)
df

  BOOSTER_VERSION
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [20]:
sql = "SELECT COUNT(MISSION_OUTCOME) as Successful_Mission_Outcome FROM FALCON9 where MISSION_OUTCOME LIKE '%Success%'"
sql2 = "SELECT COUNT(MISSION_OUTCOME) as Failed_Mission_Outcome FROM FALCON9 where MISSION_OUTCOME LIKE '%Failure%'"
df = pd.read_sql(sql, pconn)
df2 = pd.read_sql(sql2, pconn)

In [21]:
from IPython.display import display_html 

df_styler = df.style.set_table_attributes("style='display:inline'")
df2_styler = df2.style.set_table_attributes("style='display:inline'")

display_html(df_styler._repr_html_()+df2_styler._repr_html_(), raw=True)

,SUCCESSFUL_MISSION_OUTCOME
0,100
,FAILED_MISSION_OUTCOME
0,1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [26]:
sql = "SELECT DISTINCT BOOSTER_VERSION, MAX(PAYLOAD_MASS__KG_) as Max_Payload_Mass FROM FALCON9 GROUP BY BOOSTER_VERSION ORDER BY Max_Payload_Mass DESC"
df = pd.read_sql(sql, pconn)
df.head(12)

   BOOSTER_VERSION  MAX_PAYLOAD_MASS
0    F9 B5 B1048.4             15600
1    F9 B5 B1048.5             15600
2    F9 B5 B1049.4             15600
3    F9 B5 B1049.5             15600
4   F9 B5 B1049.7              15600
5    F9 B5 B1051.3             15600
6    F9 B5 B1051.4             15600
7    F9 B5 B1051.6             15600
8    F9 B5 B1056.4             15600
9   F9 B5 B1058.3              15600
10  F9 B5 B1060.2              15600
11   F9 B5 B1060.3             15600

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [29]:
sql = "SELECT DATE, LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE FROM FALCON9 WHERE LANDING__OUTCOME = 'Failure (drone ship)' AND DATE LIKE '%2015%' "
df = pd.read_sql(sql, pconn)
df

         DATE      LANDING__OUTCOME BOOSTER_VERSION  LAUNCH_SITE
0  2015-10-01  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1  2015-04-14  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [36]:
sql = "SELECT * FROM FALCON9 WHERE DATE > '2010-06-04' AND DATE < '2017-03-02' ORDER BY DATE DESC"
df = pd.read_sql(sql, pconn)
df

          DATE TIME__UTC_  ...      MISSION_OUTCOME        LANDING__OUTCOME
0   2017-02-19   14:39:00  ...              Success    Success (ground pad)
1   2017-01-14   17:54:00  ...              Success    Success (drone ship)
2   2017-01-05   11:15:00  ...              Success    Success (ground pad)
3   2016-08-14   05:26:00  ...              Success    Success (drone ship)
4   2016-08-04   20:43:00  ...              Success    Success (drone ship)
5   2016-07-18   04:45:00  ...              Success    Success (ground pad)
6   2016-06-15   14:29:00  ...              Success    Failure (drone ship)
7   2016-06-05   05:21:00  ...              Success    Success (drone ship)
8   2016-05-27   21:39:00  ...              Success    Success (drone ship)
9   2016-04-03   23:35:00  ...              Success    Failure (drone ship)
10  2016-01-17   18:42:00  ...              Success    Failure (drone ship)
11  2015-12-22   01:29:00  ...              Success    Success (ground pad)
12  2015-11-02   23:03:00  ...              Success      Controlled (ocean)
13  2015-10-01   09:47:00  ...              Success    Failure (drone ship)
14  2015-06-28   14:21:00  ...  Failure (in flight)  Precluded (drone ship)
15  2015-04-27   23:03:00  ...              Success              No attempt
16  2015-04-14   20:10:00  ...              Success    Failure (drone ship)
17  2015-02-03   03:50:00  ...              Success              No attempt
18  2014-09-21   05:52:00  ...              Success    Uncontrolled (ocean)
19  2014-07-14   15:15:00  ...              Success      Controlled (ocean)
20  2014-07-09   05:00:00  ...              Success              No attempt
21  2014-06-01   22:06:00  ...              Success              No attempt
22  2014-05-08   08:00:00  ...              Success              No attempt
23  2014-04-18   19:25:00  ...              Success      Controlled (ocean)
24  2013-09-29   16:00:00  ...              Success    Uncontrolled (ocean)
25  2013-03-12   22:41:00  ...              Success              No attempt
26  2013-01-03   15:10:00  ...              Success              No attempt
27  2012-08-10   00:35:00  ...              Success              No attempt
28  2012-05-22   07:44:00  ...              Success              No attempt
29  2010-08-12   15:43:00  ...              Success     Failure (parachute)

[30 rows x 10 columns]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>